
 <div class="container-fluid py-4"> 
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 style="float:left; font-size: 2rem;"  >Kara Liste <button type="button"  class="btn btn-success btn-lg "
            routerLink="/add-blacklist">Engelle</button> </h6>
       
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr class="text-center">
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Application Id</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tarih</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Neden</th>
                
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> İşlemler</th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody *ngFor="let blacklist of blacklists" class="text-center">
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                      </div>
                      <td >
                        <p class="text-xs font-weight-bold mb-0"></p>
                        <p class="text-xs text-secondary mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blacklist.id}}</p>
                      </td>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="mb-0 text-sm">{{blacklist.applicantId}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{blacklist.date}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{blacklist.reason}}
                    </a>
                  </td>

                <td>
                  <div>
                    <button type="button" class="btn btn-primary mx-3"
                      routerLink="/blacklist-detail/{{blacklist.id}}">Detay</button>
                    <button type="button" class="btn btn-secondary mx-3"
                      routerLink="/update-blacklist/{{blacklist.id}}">Düzenle</button>
                    <button type="button" class="btn btn-danger mx-3"  (click)="deleteBlacklist(blacklist)">Sil</button>
                  </div>
          
                </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

