<div style="border-top: 1px solid rgb(40, 26, 34,0.23); width: 55%; margin: auto;" class="card mb-4 mt-5 px-8">
  <div class="card-header pb-0">
    <h6 class="text-center mb-4" style=" font-size: 2rem;">Başvuru Ekle</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2" >
    <form  [formGroup]="applicationAddForm">
      <!-- <div class="form-group">
          <label for="example-text-input" class="form-control-label">userId</label>
          <input class="form-control" placeholder="userId" formControlName="userId" type="text" value="John Snow" id="example-text-input">
      </div> -->
      <div class="form-group">
        <label for="example-search-input" class="form-control-label">Bootcamp Adı</label>
        <select class="form-select" aria-label="Default select example " id="bootcampId" formControlName="bootcampId" class="form-control">
          <option value="" disabled selected>Bootcamp Seç</option>
          <option *ngFor="let bootcamp of bootcamps" [value]="bootcamp.id">
            {{bootcamp.name}}
          </option>
          
        </select>
          <!-- <label for="example-search-input" class="form-control-label">Bootcamp Id</label>
          <input class="form-control" placeholder="bootcampId" formControlName="bootcampId" type="search" value="Tell me your secret ..." id="example-search-input"> -->
      </div>
      <div class="form-group">
        <label for="example-number-input" class="form-control-label">Aday</label>
        <select class="form-select" aria-label="Default select example " id="applicantId" formControlName="applicantId" class="form-control">
          <option value="" disabled selected>seç </option>
          <option *ngFor="let applicant of applicants" [value]="applicant.id">
            {{applicant.firstName}}  {{applicant.lastName}} 
          </option>
          
        </select>
          <!-- <label for="example-number-input" class="form-control-label">Applicant Id</label>
          <input class="form-control"  placeholder="applicantId" formControlName="applicantId" type="number" value="23" id="example-number-input"> -->
      </div>
      <div class="form-group">
        <label for="example-number-input" class="form-control-label">Durum</label>
        <input class="form-control"  placeholder="durum" formControlName="state" type="number" value="23" id="example-number-input">
    </div>
    <button (click)="add()" style="margin-right:15px" type="submit" class="btn btn-warning">Ekle</button>
    <button type="button" class="btn btn-outline-dark px-3" routerLink="/admin/admin-application">Geri Dön</button>
    </form>
  </div>
</div>
