<div style="border-top: 1px solid rgb(40, 26, 34,0.23); width: 55%; margin: auto;" class="card mb-4 mt-8  px-8">
  <div class="card-header pb-0">
    <h6 class="text-center mb-4" style=" font-size: 2rem;">Kara Listeyi Güncelle</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2" >
    <form  [formGroup]="updateBlacklist" *ngIf="blacklist">
      <div class="form-group">
        <label for="example-number-input" class="form-control-label">Applicant Id</label>
        <input class="form-control"  placeholder="applicantId" formControlName="applicantId"  value="23" id="example-number-input">
    </div>
    <div class="form-group">
      <label for="example-date-input" class="form-control-label">Tarih</label>
      <input class="form-control" type="date" formControlName="date" value="2018-11-23" id="example-date-input">
  </div>
      <div class="form-group">
          <label for="example-text-input" class="form-control-label">Neden</label>
          <input class="form-control" placeholder="Neden" formControlName="reason" type="text" value="John Snow" id="example-text-input">
      </div>
    
    <button (click)="update()" style="margin-right:15px" type="submit" class="btn btn-warning">Güncelle</button>
    <button type="button" class="btn btn-outline-dark px-3" routerLink="/admin/admin-blacklist">Gerİ Dön</button>
    </form>
  </div>
</div>
