<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Anasayfa
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a  routerLink="bootcampList">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Bootcamp
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Başvurular
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="blacklist">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Kara Liste
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLink="applicant">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Adaylar
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Eğitmenler
                        </span>
                    </a>
                </li>
                <li>
                   <a routerLink="employee">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Çalışanlar
                        </span>
                    </a>
                </li>
                <!-- <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>   -->
            </ul>
        </nav>
  </body>
    </html>