
     <div class="col-auto ">
      <div class="bg-white border-radius-lg d-flex me-2">
        <input type="text" class="form-control border-0 ps-3" [(ngModel)]="filterApplicant" [ngModelOptions]="{standalone:true}"  placeholder="Arayınız..">
        <button class="btn bg-gradient-secondary text-light my-1 me-1 ">Search</button>
      </div>
    </div> 
 
 
 
 <div class="container-fluid py-4"> 
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 style="float:left; font-size: 2rem;"  >Aday Listesi<button type="button"  class="btn btn-success btn-lg "
            routerLink="add-applicant">Ekle</button> </h6>
       
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr class="text-center">
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Adı</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Soyadı</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">E-mail</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şifre</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kimlik No</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Doğum Tarihi</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hakkında</th>

                
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> İşlemler</th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody *ngFor="let applicant of applicants |applicantList:filterApplicant" class="text-center">
                <tr>
                  
                  <td class="align-middle text-center text-sm">
                    <span class="mb-0 text-sm">{{applicant.firstName}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{applicant.lastName}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{applicant.email}}
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{applicant.password}}
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{applicant.nationalIdentity}}
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{applicant.dateOfBirth}}
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{applicant.about}}
                    </a>
                  </td>
                  

                <td>
                  <div>
                    <button type="button" class="btn btn-primary mx-3"
                      routerLink="applicant-detail/{{applicant.id}}">Detay</button>
                    <button type="button" class="btn btn-secondary mx-3"
                      routerLink="update-applicant/{{applicant.id}}">Düzenle</button>
                    <button type="button" class="btn btn-danger mx-3"  (click)="deleteApplicant(applicant)">Sil</button>
                  </div>
          
                </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
