
 <div class="container-fluid py-4"> 
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 style="float:left; font-size: 2rem;"  >Bootcamp Listesi <button type="button"  class="btn btn-success bg-gradient-dark btn-lg "
            routerLink="add-bootcampList">Bootcamp Ekle</button> </h6>
       
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr class="text-center">
                  <th class="text-uppercase text-dark text-xxs font-weight-bolder">Id</th>
                  <th class="text-uppercase text-dark text-xxs font-weight-bolder  ps-2">Instructor Id</th>
                  <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder ">Bootcamp Adı</th>
                  <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder ">Başlangıç Tarihi</th>
                  <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder ">Bitiş Tarihi</th>
                  <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder "> Durum</th>
                  <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder "> İşlemler</th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody *ngFor="let bootcamp of bootcamps" class="text-center">
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                      </div>
                      <td >
                        <p class="text-xs font-weight-bold mb-0"></p>
                        <p class="text-xs text-secondary mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bootcamp.id}}</p>
                      </td>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0"></p>
                    <p class="text-xs text-secondary mb-0">{{bootcamp.instructorId}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="mb-0 text-sm">{{bootcamp.name}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{bootcamp.dateStart}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      {{bootcamp.dateEnd}}
                    </a>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{bootcamp.state}}</span>
                  </td>

                <td>
                  <div>
                    <button type="button" class="btn btn-primary bg-gradient-dark mx-3"
                      routerLink="bootcampList-detail/{{bootcamp.id}}">Detay</button>
                    <button type="button" class="btn btn-secondary bg-gradient-dark mx-3"
                      routerLink="update-bootcampList/{{bootcamp.id}}">Düzenle</button>
                    <button type="button" class="btn btn-danger mx-3 bg-gradient-dark" (click)="delete(bootcamp)">Sil</button>
                  </div>
          
                </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
