<div class="container" >
    <div class="row">
<div class="col-md-4 mt-8" *ngFor="let instructor of instructors">
  <div class="card x">
    <img class="card-img-top" src={{instructor.image}}>
    <div class="position-relative" style="height: 50px;overflow: hidden;margin-top: -50px;z-index:2;position: relative;">
      <div class="position-absolute w-100 top-0" style="z-index: 1;">
          <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
            </defs>
            <g class="moving-waves">
              <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
              <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
              <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
              <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
              <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
              <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
            </g>
          </svg>
        </div>
    </div>
    <div class="card-body">

        <ul style="list-style: none; padding-left:0;">
            <li> <strong>Adı : </strong>  {{instructor.firstName}}  {{instructor.lastName}} </li>
            <li> <strong>E-mail : </strong> {{instructor.email}}</li>
            <li> <strong>Doğum Tarihi: </strong> {{instructor.dateOfBirth}}</li>
            <li> <strong>Şirketi:  </strong> {{instructor.companyName}}</li>

        </ul>

    </div>
  </div>
</div>
</div>
</div>
