<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-sm navbar-dark bg-black py-0 px-0">
        <!-- <a class="navbar-brand" href="#"><img id="logo" src=""> &nbsp;&nbsp;&nbsp;Bootcamps</a> -->
        <span class="v-line"></span>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mt-2 ">
                <li class="nav-item">
                <a class="nav-link" href="#"><img id="logo" src=""> &nbsp;&nbsp;&nbsp;Bootcamps</a> -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Analytics</a>
                </li>
                

            </ul>
            
        </div>
    </nav>
</div>