.navbar{
    border-radius: 20px;
}
.nav-1{
    margin-right: 1% !important; 
    margin-left: 1% !important;
}
.navis{
    position: fixed;
    width: -webkit-fill-available;
}

.cbc li:hover{
    background-color: rgba(104, 105, 105, 0.775);
    border-radius: 1000px;
}

.cbca:hover{
    background-color: rgba(104, 105, 105, 0.775);
    border-radius: 1000px;
}

