<div style="border-top: 1px solid rgb(40, 26, 34,0.23); width: 55%; margin: auto;" class="card mb-4 mt-5 px-8">
  <div class="card-header pb-0">
    <h6 class="text-center mb-4" style=" font-size: 2rem;">Bootcamp Düzenle</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2" >
    <form  [formGroup]="bootcampUpdateForm"  *ngIf="bootcamp">
      <div class="form-group">
          <label for="example-text-input" class="form-control-label">Eğitmen</label>
          <select class="form-select" aria-label="Default select example " id="instructorId" formControlName="instructorId" class="form-control">
            <option value="" disabled selected>Seç</option>
            <option *ngFor="let instructor of instructors" [value]="instructor.id">
              {{instructor.firstName}} {{instructor.lastName}}
            </option>
            
          </select>
          <!-- <input class="form-control" placeholder="instructor id" formControlName="instructorId" type="text" value="John Snow" id="example-text-input"> -->
      </div>
      <div class="form-group">
          <label for="example-search-input" class="form-control-label">İsim</label>
          <input class="form-control" placeholder="İsim" formControlName="name" type="search" value="Tell me your secret ..." id="example-search-input">
      </div>
      <div class="form-group">
          <label for="example-number-input" class="form-control-label">Durum</label>
          <select class="form-select"  aria-label="Default select example " id="state" formControlName="state" class="form-control">
            <option  value="" disabled selected>Seç</option>
            <option  [value]="1">
              Aktif
            </option>
            <option  [value]="2">
              Pasif
            </option>
            
          </select>
          <!-- <input class="form-control"  placeholder="durum" formControlName="state" type="number" value="23" id="example-number-input"> -->
      </div>
      <div class="form-group">
          <label for="example-date-input" class="form-control-label">Başlangıç Tarihi</label>
          <input class="form-control" type="date" formControlName="dateStart" value="2018-11-23" id="example-date-input">
      </div>
      <div class="form-group">
        <label for="example-date-input" class="form-control-label">Bitiş Tarihi</label>
        <input class="form-control" type="date" formControlName="dateEnd" value="2018-11-23" id="example-date-input">
      </div>
    <button (click)="updateBootcamp()" style="margin-right:15px" type="submit" class="btn btn-warning">Güncelle</button>
    <button type="button" class="btn btn-outline-dark px-3" routerLink="/admin/admin-bootcampList">GERİ Dön</button>
    </form>
  </div>
</div>
